@model QuizArena.Models.Quiz

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Quiz Details</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Details</h5>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    Image
                </dt>
                <dd class="col-sm-9">
                    <img src="@Url.Content("~/quizimages/" + Model.QuizImage)" alt="Quiz Image" class="img-fluid rounded" width="150" height="150" />
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model?.QuizId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
        </div>
    </div>
</div>
