@model QuizArena.Models.User

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">User Details</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Details</h5>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Password)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Password)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model?.UserId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
        </div>
    </div>
</div>
